*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    overflow: hidden;
    background-color: rgba(46, 46, 101, 0.716);
}
.logo img{
    position: absolute;
    top: 30px;
    width: 150px;
    height: 150px;
}
.logo span{
    position: absolute;
    top: 30%;
    font-size: small;
    font-weight: 600;
}
.user img{
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 100%;
    border: 0;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: rgb(16, 16, 32);
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}
.sidebar.active ~ .main-content{
    left: 270px;
    width: calc(100% - 270px);
}
.sidebar.active{
    width: 270px;
    background-color: rgba(46, 46, 101, 0.716);
    transition: all 0.7s;
}
.sidebar #sidebarbtn{
    position: absolute;
    color: white;
    top: 0.4rem;
    left: 50%;
    font-size: 1.3rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
    transition: all 1s;
}
.sidebar #sidebarbtn:hover{
    font-size: 1.4rem;
}
.sidebar.active #sidebarbtn{
    left: 85%;
}
.sidebar .top .logo{
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}
.sidebar.active .top .logo{
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.top{
    margin-bottom: 20px;
}
.top .logo span{
    margin-right: 5px;
}
.user{
    display: flex;
    align-items: center;
    margin-left: 0.15rem;
}
.sidebar.active .user{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    position: absolute;
    bottom: 13px;
}
.user p{
    color: white;
    opacity: 1;
    margin-left: 1rem;
}
.name{
    font-weight: 600;
}
.rank{
    font-size: small;
}
.sidebar p{
    opacity: 0;
}
.sidebar.active p{
    opacity: 1;
}
.sidebar ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}
.sidebar.active ul .dashboard_btn{
    display: none;
}
.sidebar ul li .admindashboard_btn{
    background: radial-gradient(white,transparent);
    color: black;
    pointer-events: none;
}
.sidebar ul li a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}
.sidebar ul li a:hover{
    background-color: white;
    color: black;
}
.sidebar ul li a i{
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}
.sidebar.active .logout_btn{
    max-width: 50px;
    position: absolute;
    bottom: 0;
    left: 11%;
}
::-webkit-scrollbar{
    width: 0px;
}
::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 10px ;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(152, 154, 170);
    border-radius: 10px ;
}
.main-content{
    position: relative;
    background-color: #d8d6eb;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
}
.main-content{
    position: relative;
    background-color: #d8d6eb;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
}
.maincontainer{
    max-width: 100%;
    max-height: 99vh;
    background-color: #d8d6eb;
    overflow-y: auto;
    overflow-x: hidden;
}
.container{
    position: relative;
    max-width: 100%;
    max-height: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.897);
    overflow: auto;
}
.container::before{
    position: absolute;
    content: '';
    inset: 0;
    background-image: url(../images/freelancer.jpg);
    background-repeat: none;
    background-size: cover;
    opacity: 0.9;
}
.profilebox{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 30px 0 40px 0;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 220px;
    background: radial-gradient(#ffffff,transparent,#ccc);
    border-radius: 50%;
    border: 1px solid black;
    margin: 15px;
    overflow: hidden;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.namebox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.txtbox1{
    margin-top: 10px;
    height: 30px;
    width: 100%;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    color: rgb(210, 210, 210);
}
.studentboxcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.studentcontainer {
    padding: 20px;
    border-radius: 30px;
    width: 80%;
}
.studenttxt{
    font-weight: 700;
    margin: 20px;
}
.student-box{
    max-height: 450px;
    border-radius: 20px;
    margin-bottom: 30px;
    border: 10px solid transparent;
    outline: 1px solid rgb(169, 169, 169);
    overflow-y: auto;
}
.nostudent{
    font-weight: 600;
    margin: 20px;
}
.student-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px 30px 10px 15px;
    border: 1px solid rgba(156, 156, 156, 0.658);
    border-radius: 20px;
    background-color: #e3e2e8;
    min-height: 80px;
    max-height: 80px;
}
.studentprofileinfo{
    display: flex;
    align-items: center;
}
.student-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}
.student-profile img{
    height: 50px;
    min-width: 50px;
    max-width: 50px;
    background-color: rgb(16, 16, 32);
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 20px;
    overflow: hidden;
}
.student-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.student-name {
    font-size: 16px;
    font-weight: 700;
    margin: 5px 30px 0 0;
    color: rgba(46, 45, 50, 0.807);
}
.student-type {
    font-size: small;
    color: #5a5a68;
}
.courselevel{
    font-size: small;
    color: #5a5a68;
}
.buttons{
    display: flex;
    align-items: center;
}
button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin: 0 5px 0 5px;
    padding: 0.5rem 0.7rem;
    border-radius: 10px;
    border: none;
    background-color: #131124;
    color: white;
}
button:hover{
    opacity: 0.9;
}
button:active{
    opacity: 0.8;
}
.view-student-button img, .update-student-button img, .delete-student-button img{
    height: 20px;
    width: 20px;
}
.delete-student-button {
    background-color: #f13225;
}
.gradesModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .grades-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 85%;
    max-width: 90%;
    min-height: 500px;
    max-height: 80vh;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  
.grades-student-box{
    max-height: 360px;
    border-radius: 20px;
    margin-bottom: 30px;
    border: 10px solid transparent;
    outline: 1px solid rgb(169, 169, 169);
    overflow-y: auto;
}
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 800px;
    max-width: 60%;
    min-height: 500px;
    max-height: 80vh;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  #modalTitle{
    color: #131124;
    margin-bottom: 10px;
  }

  .close, .closeupdate {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .closeupdate:hover,
  .closeupdate:focus,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Style for input fields and button */
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input[type="text"], input[type="password"], input[type="file"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  .namedepartment{
    display: flex;
    justify-content: space-between;
  }
  .name{
    flex: 1;
    margin-right: 5px;
  }
  .department{
    flex: 1;
    margin-left: 5px;
  }

  .submitbtn{
    position: absolute;
    bottom: 30px;
    right: 30px;
  }

.createbtncontainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.create_btn,
.submitbtn,
.viewGradesBtn,
.printgradesbutton{
    border: none;
    padding: 0.6rem 2rem;
    color: white;
    background-color: rgb(31, 67, 213);
    border-radius: 20px;
}
.create_btn:hover,
.submitbtn:hover,
.viewGradesBtn:hover,
.printgradesbutton:hover{
    opacity: 0.9;
}
.printgradesbutton{
    position: absolute;
    bottom: 30px;
    right: 30px;
}
form{
    margin-top: 40px;
}

.viewGradesBtn{
    margin-top: 30px;
}
.studentboxcontainer {
    margin: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}